

:root{
    --verde-shielf: #85cf7e;
    --rojo-conductor:#e81d36;
    --blanco-primary: #d9eaca;
    --blanco-fondo: #c6f4ea;
    --azul-marin: #2b84ed;
    --azul-claro: #71a4e1;
    --text-color: #676b71;
    
}
body{
    background-color:  var(--blanco-fondo);
    display: grid;
    place-items: center;
}
h2{
    margin-top: 30px;
    margin-left:85px ;
    color: var(--azul-marin);
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
input{
    margin: 1rem;
    border-radius: 3rem;
    width: 13rem;
    height: 20px;
    border-style: none;
    text-align: center;
    background-color: var(--blanco-primary);

    
}
button{
    width: 10rem;
    height: 30px;
    margin-top: 20px;
    border-radius: 2rem;
    margin-left: 40px;
    border-style: none;
    background-color: var(--azul-claro);
}
.conteniner{
    width: 20rem;
    display: flex;
    flex-direction: column; 
    
}
.conten{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-conten{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 5rem;
}
h1{
    color: var(--text-color);
}
.primary{
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--blanco-primary);
    width: 90%;
    border-radius: 1rem;
}
.individual{
    display: flex;
    flex-direction: row;
}
.button-done{
    width: 4rem;
    height: 1rem;
    border-radius: 10px;
    
}
.shielf{
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--verde-shielf);
    width: 90%;
    border-radius: 1rem;
}
.conductor{
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--rojo-conductor);
    width: 90%;
    border-radius: 1rem;
}

